/*
Colors used:
(Grey): #F2F2F2;
(Lt Grey): #666565;
(Pink): #E85F84;
(Black): #000000;
(image): #EBEBEB;
Typography used:
Libre Franklin;
*/


body {
  background-color: #F2F2F2;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 12px; /* Sets the font size to 16px */
  font-weight: 400; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
  letter-spacing: .3px;
}

h1, h2, h3 {
  line-height: 1.6;
}

h1 {
  font-size: 1em;
  font-weight: 400;
}

h2 {
  font-size: 1em;
  font-weight: 500;
}

h3 {
  font-size: 1em;	
  font-weight: 500;
}

p{
  font-size: 1em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #000000;
  text-decoration: none; /* No underlining */
  font-size: 1em;
  font-weight: 400;
}

a:active { /* selected link */
  color: #E85F84;
  text-decoration: underline;
}
a:visited { /* visited link */
  color: #666565;
}
a:hover {
  color: #E85F84;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:hover,
a:focus, nav .current-page {
  color: #E85F84;
  text-decoration: underline;
}

li {
 	list-style-type: none;
	font-size: 1em;
	font-weight: 400;
 }

 ul{
 	list-style: none;
    padding-left: 0;
}​
 
#skills{
	text-decoration: underline;	
	color: #000000;
}

.button.contact {
  color: #000000;
  text-decoration: underline;
}

.button.contact:hover {
  color: #666565;
}
