/*
Colors used:
(Grey): #F2F2F2;
(Lt Grey): #666565;
(Pink): #E85F84;
(Black): #000000;
(image): #EBEBEB;
Typography used:
Libre Franklin;
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #F2F2F2;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 12.8px; /* Sets the font size to 16px */
  font-weight: 400; /* Sets the font weight to 300 */
  line-height: 1.7; /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
  letter-spacing: .3px;
}

header {
  background-color: #F2F2F2;
}

h1, h2 {
  line-height: 1.7;
}

h1 {
  font-size: 1em;
  font-weight: 400;
  /*margin-bottom: 0;*/
  margin: 30px 6px 30px 0px;
}

h2 {
  font-size: 1em;
  font-weight: 500;
}

p{
  font-size: 1em;
  font-weight: 400;
}

img {
  width: 100%;
}

nav {
line-height: 2.5;
}

a {
  color: #000000;
  text-decoration: none; /* No underlining */
  font-size: 1em;
  font-weight: 400;
}

a:active { /* selected link */
  color: #E85F84;
  /*text-decoration: underline;*/
}
a:visited { /* visited link */
  color: #000000;
}
a:hover {
  color: #E85F84;
  /*text-decoration: underline;*/ /* Underlining when hovering over a link */
}

a:hover,
a:focus, nav .current-page {
  color: #000000;
/*  text-decoration: underline;*/
}

li {
 	list-style-type: none;
	font-size: 1em;
	font-weight: 400;
	border-bottom: 1px solid black;
 }

ul > li {
	border-bottom: 1PX solid black;
}

nav > ul {
	list-style: none;
    padding-left: 0;
    margin-bottom: 30px;
}​


#skills{
	text-decoration: underline;	
	color: #000000;
}

.button.contact {
  	color: #000000;
  	text-decoration: underline;

}

.button.contact:hover {
  	color: #000000;
}

.container {
	padding: 0 15px;
}

/*.row{
	margin: 10px 0;
}
*/
/*#work .row {
	 padding-top: 0px;
}*/

/*.navigation {
	text-align: left;
	padding: 20px 0;
}
*/


/*nav > ul {
	list-style-type: none; 
	padding: 0;
}
*/
/*nav > ul > li {
	display: inline-block;
}
*/

/*nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}
*/

.row ul {
	list-style: none;
    padding-left: 0;
}

.row #p1 {
	padding-top: 0px;
}

.row h2 {
	padding-top: 0px;
}

.row .mephoto {
	padding-top: 10px;
}

footer .copy1 {
	padding-top: 30px;
}

footer .up1 {
	padding-top: 15px;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

/*h1 {
	padding-top: 30px;
}*/

/*.menu-button {
    position: relative;
    display: block;
    cursor: pointer;
    text-align: right;
}*/

.container .spacephoto {
	margin-bottom: 50px;
}

.skills li {
	border-bottom: none;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 768px) {

header h1{
	float:left;
	text-align: unset;
    margin: 35px 6px 50px 0px; 
 	}

nav ul li {
	width: auto;
    float: left;
	border-bottom: 0;
	/*padding: 30px 0 30px;*/
/*	margin:8.576px 0 0;*/
	margin: 0px 20px 60px 0px;
	}
.col-md-6 {
  width: 70%;
  float: right;
  clear: right;
	}

a:hover,
a:focus, nav .current-page {
  color: #E85F84;
  text-decoration: underline;
}

.container {
	padding: 0 50px;
}

footer .up1 {
	position:fixed;
  	bottom:0;
}
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
.container {
	padding: 0 100px;
}
}



/*@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}


@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}


.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}


.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}*/